.verticalItems {
    border-left: 5px double black;
    width: 80%;
    padding-left: 2rem;
    line-height: 16px;
    display: flex;
    font-size: .925em;
    flex-direction: column;
    justify-content: center;
}